<template>
	<div class="container-fluid py-5 position-relative z-2">
		<div class="row py-5 mob-py-0 my-5">
			<div class="col-lg-6 col-xl-4 offset-xl-2 pr-5 d-none d-lg-block">
				<div class="d-table w-100 h-100">
					<div class="d-table-cell align-middle w-100 h-100 text-lg-left">
						<p class="mimic-h2" v-html="title"></p>
						<p v-html="text"></p>
						<a :href="link">
							<button class="btn btn-primary">{{btntext}}</button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 pr-0 mob-px-4">
				<div class="right-img">
					<picture v-if="img == 'ards'">
						<source srcset="/img/regions/ards.webp" type="image/webp"/> 
						<source srcset="/img/regions/ards.jpg" type="image/jpeg"/> 
						<img src="/img/regions/ards.jpg" type="image/jpeg" alt="Ards- SCRABO" class=" w-100" />
					</picture>
					<picture v-if="img == 'belfast'">
						<source srcset="/img/regions/belfast.webp" type="image/webp"/> 
            <source srcset="/img/regions/belfast.jpg" type="image/jpeg"/> 
            <img src="/img/regions/belfast.jpg" type="image/jpeg" alt="Belfast" class=" w-100" />
        </picture>
				</div>
			</div>
			<div class="col-12 px-4 d-lg-none text-center mt-4">
				<div class="d-table w-100 h-100">
					<div class="d-table-cell align-middle w-100 h-100 text-lg-left">
						<p class="mimic-h2 mb-2" v-html="title"></p>
						<p class="mb-4" v-html="text"></p>
						<a :href="link">
							<button class="btn btn-primary">{{btntext}}</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			title: String,
			text: String,
			link: String,
			btntext: String,
			img: String,
		},
	}
</script>