<template>
  <div class="container pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-12" v-for="(post, index) in posts">
        <div class="row">
          <div class="col-lg-9">
            <p class="text-uppercase letter-spacing text-light text-small mb-0">{{niceDate(post.created_at)}}</p>
            <h4 class="mb-1 post-title">{{post.title}}</h4>
            <p class="mb-2">{{post.excerpt}} <a :href="'/news/' +moment(post.created_at) +'/'+ post.slug" style="color: #265CC0;">[...]</a></p>
            <p class="text-title read-more-news text-capitalize mb-0 mob-mb-3"><a :href="'/news/' +moment(post.created_at) +'/'+ post.slug" >Read Article <i class="fa fa-angle-double-right ml-2"></i></a></p>
          </div>
          <div class="col-lg-3" v-if="post.news_documents && post.news_documents.length > 0">
            <div class="border-left pl-4 h-100">
              <h4 class="mb-0 text-capitalize">Downloads</h4>
              <p class="text-smallest">* Click the document name to download</p>
              <div v-for="(doc, key) in post.news_documents">
                <p class="mb-2"><a :href="doc.link" target="_blank" class="text-blue"><i class="fa fa-file-text-o mr-1"></i> <b>{{doc.name}}</b></a></p>
                <hr v-if="key < post.news_documents.length - 1" class="my-1"/>
              </div>
            </div>
          </div>
        </div>
        <hr v-if="index < posts.length - 1" class="my-5" />
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6">
        <h3 class="mb-0">Sorry no results found</h3>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  h4.post-title{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: none;
  }
  p.read-more-news{
    font-size: 1.2rem;
    a{
      color: #265CC0;
    }
  }
  .news-title-top{
    font-weight: 300;
    line-height: 1;
    font-size: 1.5rem;
    font-family: Tungsten, sans-serif;
    text-transform: uppercase;
    color: #1D252D;
    margin-bottom: 5px;
  }
  @media only screen and (max-width: 767px){
    p.read-more-news{
      font-size: 5.5vw;
    }
  }
</style>