.no-webp{
	.regions-antrim{
		background-image: url('/img/regions/antrim.jpg');
	}
	.regions-ards{
		background-image: url('/img/regions/ards.jpg');
	}
	.regions-armagh{
		background-image: url('/img/regions/armagh.jpg');
	}
	.regions-belfast{
		background-image: url('/img/regions/belfast.jpg');
	}
	.regions-causeway{
		background-image: url('/img/regions/causeway.jpg');
	}
	.regions-derry{
		background-image: url('/img/regions/derry.jpg');
	}
	.regions-fermanagh{
		background-image: url('/img/regions/fermanagh.jpg');
	}
	.regions-lisburn{
		background-image: url('/img/regions/lisburn.jpg');
	}
	.regions-mid-ulster{
		background-image: url('/img/regions/mid-ulster.jpg');
	}
	.regions-mournes{
		background-image: url('/img/regions/mournes.jpg');
	}
	.regions-newtownabbey{
		background-image: url('/img/regions/newtownabbey.jpg');
	}
	.cards-antrim,
	.cards-mid-east-antrim{
		background-image: url('/img/cards/antrim.jpg');
	}
	.cards-ards,
	.cards-ards-north-down{
		background-image: url('/img/cards/ards.jpg');
	}
	.cards-armagh,
	.cards-armagh-banbridge-craigavon{
		background-image: url('/img/cards/armagh.jpg');
	}
	.cards-belfast,
	.cards-belfast-city{
		background-image: url('/img/cards/belfast.jpg');
	}
	.cards-causeway,
	.cards-causeway-coast-glens{
		background-image: url('/img/cards/causeway.jpg');
	}
	.cards-derry,
	.cards-derry-city-strabane{
		background-image: url('/img/cards/derry.jpg');
	}
	.cards-fermanagh,
	.cards-fermanagh-omagh{
		background-image: url('/img/cards/fermanagh.jpg');
	}
	.cards-lisburn,
	.cards-lisburn-castlereagh{
		background-image: url('/img/cards/lisburn.jpg');
	}
	.cards-mid-ulster{
		background-image: url('/img/cards/mid-ulster.jpg');
	}
	.cards-mournes,
	.cards-newry-mourne-down{
		background-image: url('/img/cards/mournes.jpg');
	}
	.cards-newtownabbey,
	.cards-antrim-newtownabbey{
		background-image: url('/img/cards/newtownabbey.jpg');
	}
}
.webp{
	.regions-antrim{
		background-image: url('/img/regions/antrim.webp');
	}
	.regions-ards{
		background-image: url('/img/regions/ards.webp');
	}
	.regions-armagh{
		background-image: url('/img/regions/armagh.webp');
	}
	.regions-belfast{
		background-image: url('/img/regions/belfast.webp');
	}
	.regions-causeway{
		background-image: url('/img/regions/causeway.webp');
	}
	.regions-derry{
		background-image: url('/img/regions/derry.webp');
	}
	.regions-fermanagh{
		background-image: url('/img/regions/fermanagh.webp');
	}
	.regions-lisburn{
		background-image: url('/img/regions/lisburn.webp');
	}
	.regions-mid-ulster{
		background-image: url('/img/regions/mid-ulster.webp');
	}
	.regions-mournes{
		background-image: url('/img/regions/mournes.webp');
	}
	.regions-newtownabbey{
		background-image: url('/img/regions/newtownabbey.webp');
	}
	.cards-antrim,
	.cards-mid-east-antrim{
		background-image: url('/img/cards/antrim.webp');
	}
	.cards-ards,
	.cards-ards-north-down{
		background-image: url('/img/cards/ards.webp');
	}
	.cards-armagh,
	.cards-armagh-banbridge-craigavon{
		background-image: url('/img/cards/armagh.webp');
	}
	.cards-belfast,
	.cards-belfast-city{
		background-image: url('/img/cards/belfast.webp');
	}
	.cards-causeway,
	.cards-causeway-coast-glens{
		background-image: url('/img/cards/causeway.webp');
	}
	.cards-derry,
	.cards-derry-city-strabane{
		background-image: url('/img/cards/derry.webp');
	}
	.cards-fermanagh,
	.cards-fermanagh-omagh{
		background-image: url('/img/cards/fermanagh.webp');
	}
	.cards-lisburn,
	.cards-lisburn-castlereagh{
		background-image: url('/img/cards/lisburn.webp');
	}
	.cards-mid-ulster{
		background-image: url('/img/cards/mid-ulster.webp');
	}
	.cards-mournes,
	.cards-newry-mourne-down{
		background-image: url('/img/cards/mournes.webp');
	}
	.cards-newtownabbey,
	.cards-antrim-newtownabbey{
		background-image: url('/img/cards/newtownabbey.webp');
	}
}

.bg{
	@include background();
}
.bg-grad{
	background: rgb(38,92,192);
	background: linear-gradient(0deg, rgba(38,92,192,0.87718837535014) 0%, rgba(38,92,192,1) 100%);
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.dark-bg{
	background-color: $navy;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: #265CC0 !important;
}
.bg-fixed{
	background-attachment: fixed;
}
.bg-light{
	background-color: $lightbg !important;
}
.hexagons-1{
	position: absolute;
	top: -100px;
	right: -100px;
	width: 850px;
	z-index: 0;
	opacity: 0.11;
}
.hexagons-2{
	position: absolute;
	top: -100px;
	left: -100px;
	width: 850px;
	z-index: 0;
	opacity: 0.11;
}