// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: $white;
	color: $darkgrey;
	font-family: $body;
	h1{
		font-family: $title;
		font-weight: 700;
		font-style: normal;
		font-size: 4.5rem;
    line-height: 1;
		&.page-top{
			font-weight: 700;
			font-size: 3.6rem;
		}
		&.page-title{
			font-size: 11rem;
      letter-spacing: 1px;
      line-height: 0.9;
		}
		&.blog-title{
			text-transform: capitalize;
			font-size: 3.5rem;
		}
		.larger{
			font-size: 6rem;
		}
		.smaller{
			font-size: 3rem;
		}
	}
	h2{
		font-size: 3rem;
		font-weight: 700;
		font-style: normal;
		font-family: $title;
		&.title-large{
			font-weight: 700;
			font-size: 5rem;
			line-height: 6rem;
		}

	}
	h3{
		font-size: 2.6rem;
		font-weight: 700;
		font-family: $title;
		&.bigger{
			font-size: 2rem;
		}
	}
	h4{
		font-size: 1.8rem;
		font-weight: 500;
		text-transform: uppercase;
		font-family: $title;
	}
	h5{
		font-size: 1.1rem;
		font-family: $title;
	}
	p{
		font-size: 1.1rem;
		&.text-small{
			font-size: 0.9rem;
		}
		&.text-one{
			font-size: 1rem;
		}
		&.text-smallest{
			font-size: 0.7rem;
		}
		&.text-large{
			font-size: 1.4rem;
		}
		&.text-larger{
			font-size: 1.5rem;
		}
		&.letter-spacing{
			letter-spacing: 2px;
		}
		.smaller{
			font-size: 0.8rem;
		}
		&.title{
			font-family: $title;
			text-transform: uppercase;
			line-height: 1;
		}
		&.mimic-h3{
			font-size: 2.2rem;
			line-height: 1.1;
    	letter-spacing: 1px;
			font-weight: 500;
			font-family: $title;
		}
		&.mimic-h2{
			font-size: 3.15rem;
			line-height: 1.1;
			font-weight: 700;
			font-family: $title;
			button{
				margin-top: -5px;
			}
		}
		&.mimic-h1{
			font-size: 4.5rem;
			line-height: 1.1;
			font-weight: 700;
			font-family: $title;
			text-transform: uppercase;
		}
		&.box-title-top{
			font-weight: 500;
			line-height: 1;
			font-size: 2rem;
			font-family: $title;
			text-transform: uppercase;
			color: $grey;
			margin-bottom: 5px;
		}
		&.testimonial-text{
			font-size: 3.2rem;
			line-height: 1;
    	letter-spacing: 1px;
			font-weight: 500;
			font-family: $title;
		}
		&.testimonial-title{
			font-size: 2.2rem;
			line-height: 1;
    	letter-spacing: 1px;
			font-weight: 500;
			text-transform: uppercase;;
			font-family: $title;
		}
		.text-smallest{
			font-size: 0.7rem;
		}
	}
	.line-height-1-5{
		line-height: 1.5 !important;
	}
	.circle-icon{
		width: 30px;
		height: 30px;
		border-radius: 100%;
		display: inline-block;
		text-align: center;
		i{
			margin-top: 6px;
		}
		&.dark-blue-bg{
			background-color: $primarydark;
			i{
				color: $white !important;
			}
		}
	}
	p[data-f-id="pbf"]{
		display: none !important;
	}
	a{
		cursor: pointer;
		@include transition(300ms);
		&.text-white{
			color: $white !important;
			&:hover{
				&.hover-dark{
					color: $darkgrey !important;
				}
			}
		}
		&.text-dark{
			color: $black !important;
			&:hover{
				color: $darkgrey !important;
			}
		}
		&.hover-blue{
			color: $darkgrey !important;
			&:hover{
				color: $blue !important;
			}
		}
		&:hover{
			text-decoration: none !important;
		}
	}
	ol{
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 2rem;
			font-size: 1.1rem;
			padding-left: 1.5rem;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: 0.5rem;
    		top: 0;
				width: 2px;
				height: 100%;
				border-radius: 0;
			}
			&::marker{
				font-weight: 900;
				font-size: 1.1rem;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	ul{
		list-style: none;
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 1rem;
			font-size: 1.1rem;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: -1.3rem;
				top: 9px;
				width: 6px;
				height: 6px;
				border-radius: 0;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.white-text{
		color: $white;
	}
	.text-red{
		color: $red !important;
	}
	.text-yellow{
		color: $yellow !important;
	}
	.text-grey{
		color: $darkgrey !important;
	}
	.text-mid-grey{
		color: $midgrey !important;
	}
	.text-dark{
		color: $black !important;
	}
	.text-title{
		font-family: $title !important;
	}
	.text-light{
		color: #989696 !important;
	}
	.text-green{
		color: $green !important;
	}
	.text-blue{
		color: #265CC0 !important;
	}
	.border-left{
		border-color: $black !important;
	}
	hr{
		&.line-primary{
			border-top: 2px solid $primary;
		}
	}
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	@include transition(300ms);
	&.opacity{
		opacity: 0.1;
	}
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}