#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.cut {
  background: #1D252D;
  position: absolute;
  bottom: -240px;
  left: -100px;
  width: calc(100% + 200px);
  height: 300px;
  transform-origin: center top;
  transform: rotate(4deg);
  z-index: 5;
}
.primary-line{
	border-top: 2px solid $primary;
}
.green-line{
	border-top: 2px solid $green;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.search-page{
	min-height: 100vh;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.rounded-box{
	border-radius: 5px;
}
.card{
	border-radius:0;
	border: 0;
	@include boxShadow();
}
.full-height{
	height: 100vh;
}
.ipad-height{
	height: 768px;
	max-height: 100vh;
}
.line{
	span{
		width: 100px;
		height: 3px;
		background-color: $primary;
		display: block;
		margin: auto;
	}
}
.modal{
	background-color: rgba(2,105,221, 0.8);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.testimonial-quote{
	width: 100px;
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transgrey;
}
.trans-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.1rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
#map{
	position: absolute;
	top: 100px;
	right: 0;
	width: 45vw;
	height: calc(100vh - 100px);
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(300ms);
		}
		&.product-image{
			height: 100%;
			max-height: inherit;
			img{
				position: relative;
			}
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.shadow{
	@include boxShadow();
}


$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox

@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

.video-header{
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	video {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: 0;
	  -ms-transform: translateX(-50%) translateY(-50%);
	  -moz-transform: translateX(-50%) translateY(-50%);
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	}
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.gradient-bg{
	width: 100%;
	height: 300px;
	position: absolute;
	z-index: 0;
	right: 0;
	top:0;
	background: rgb(0,18,41);
	background: linear-gradient(0deg, rgba(0,18,41,0) 0%, rgba(0,18,41,1) 130%);
}
.left-img{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}
.right-img{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}
.region-card{
	position: relative;
  width: 260px;
  height: 372px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110%;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  padding-top: 2rem;
  padding-left: 2rem;
  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  a{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	display: block;
  }
  .region-info{
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	padding: 7rem 1rem 1rem 1rem;
  	background: rgb(17,18,19);
		background: linear-gradient(180deg, rgba(17,18,19,0) 0%, rgba(17,18,19,1) 100%);
  	p{
  		color: #fff;
  		&.region-card-top{
  			font-family: ff-zwo-corr-web-pro, sans-serif;
        color: #fff;
        font-size: 0.8rem;
        line-height: 1;
        margin-bottom: 0.3rem;
        letter-spacing: 0.2rem;
  		}
  		&.region-card-title{
  			font-family: ff-zwo-corr-web-pro, sans-serif;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 0;
  		}
  	}
  }
  &:hover{
  	background-size: 120%;
  }
}
.guide-header-card {
  	position: relative;
	  width: 260px;
	  height: 372px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: auto 110%;
	  border-radius: 10px;
	  text-align: left;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
		-moz-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
	  }
.profile-header{
	min-height: 460px;
}
.region-header{
	p{
    &.region-top{
      font-family: ff-zwo-corr-web-pro, sans-serif;
      color: #fff;
      font-size: 1.2rem;
      line-height: 1;
      margin-bottom: 0.3rem;
      letter-spacing: 0.2rem;
    }
    &.region-title{
      font-family: ff-zwo-corr-web-pro, sans-serif;
      color: #fff;
      line-height: 1;
      font-size: 4rem;
      margin-bottom: 0.3rem;
    }
  }
}