<template>
	<div class="container">
		<div class="row">
			<div class="col-lg-3" v-if="exclude != 'causeway-coast-glens'">
				<div class="region-card mb-4 cards-causeway">
					<a href="/regions/causeway-coast-glens">
						<div class="region-info">
							<p class="region-card-top">GIANTS CAUSEWAY</p>
							<p class="region-card-title">Causeway Coast<br/>& Glens</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'belfast'">
				<div class="region-card mb-4 cards-belfast">
					<a href="/regions/belfast-city">
						<div class="region-info">
							<p class="region-card-top">TITANIC BELFAST</p>
							<p class="region-card-title">Belfast<br/>City</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'fermanagh-omagh'">
				<div class="region-card mb-4 cards-fermanagh">
					<a href="/regions/fermanagh-omagh">
						<div class="region-info">
							<p class="region-card-top">STAIRWAY TO HEAVEN</p>
							<p class="region-card-title">Fermanagh<br/>& Omagh</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'newry-mourne-down'">
				<div class="region-card mb-4 cards-mournes">
					<a href="/regions/newry-mourne-down">
						<div class="region-info">
							<p class="region-card-top">MOURNE MOUNTAINS</p>
							<p class="region-card-title">Newry, Mourne<br/>& Down</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'derry-strabane'">
				<div class="region-card mb-4 cards-derry">
					<a href="/regions/derry-strabane">
						<div class="region-info">
							<p class="region-card-top">DERRY'S WALLS</p>
							<p class="region-card-title">Derry City &<br/>Strabane</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'antrim-newtownabbey'">
				<div class="region-card mb-4 cards-newtownabbey">
					<a href="/regions/antrim-newtownabbey">
						<div class="region-info">
							<p class="region-card-top">NATURE & CULTURE</p>
							<p class="region-card-title">Antrim &<br/>Newtownabbey</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'mid-east-antrim'">
				<div class="region-card mb-4 cards-antrim">
					<a href="/regions/mid-east-antrim">
						<div class="region-info">
							<p class="region-card-top">GLENS OF ANTRIM</p>
							<p class="region-card-title">Mid & East<br/>Antrim</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'ards-north-down'">
				<div class="region-card mb-4 cards-ards">
					<a href="/regions/ards-north-down">
						<div class="region-info">
							<p class="region-card-top">SCRABO TOWER</p>
							<p class="region-card-title">Ards &<br/>North Down</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'lisburn-castlereagh'">
				<div class="region-card mb-4 cards-lisburn">
					<a href="/regions/lisburn-castlereagh">
						<div class="region-info">
							<p class="region-card-top">CASTLE GARDENS</p>
							<p class="region-card-title">Lisburn &<br/>Castlereagh</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'armagh-banbridge-craigavon'">
				<div class="region-card mb-4 cards-armagh">
					<a href="/regions/armagh-banbridge-craigavon">
						<div class="region-info">
							<p class="region-card-top">CHRISTIAN HERITAGE</p>
							<p class="region-card-title">Armagh, Banbridge & Craigavon</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3" v-if="exclude != 'mid-ulster'">
				<div class="region-card mb-4 cards-mid-ulster">
					<a href="/regions/mid-ulster">
						<div class="region-info">
							<p class="region-card-top">SEAMUS HEANEY 'HOMEPLACE'</p>
							<p class="region-card-title">Mid-Ulster</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
			exclude: String,
		}
	}
</script>