<template>
	<div class="mob-regions container px-4">
		<div class="row">
			<div class="col-12 mb-3 text-center">				
				<carousel :items="4" :margin="15" :center="false"  :autoHeight="true" :loop="false" :autoplay="false" :autoWidth="true" :nav="false" :dots="false">
					<div class="region-card mb-4 cards-causeway" v-if="exclude != 'causeway-coast-glens'">
						<a href="/regions/causeway-coast-glens">
							<div class="region-info">
								<p class="region-card-top">GIANTS CAUSEWAY</p>
								<p class="region-card-title">Causeway Coast<br/>& Glens</p>
							</div>
						</a>
					</div>
					<div class="region-card mb-4 cards-belfast" v-if="exclude != 'belfast'">
						<a href="/regions/belfast-city">
							<div class="region-info">
								<p class="region-card-top">TITANIC BELFAST</p>
								<p class="region-card-title">Belfast<br/>City</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-fermanagh" v-if="exclude != 'fermanagh-omagh'">
						<a href="/regions/fermanagh-omagh">
							<div class="region-info">
								<p class="region-card-top">STAIRWAY TO HEAVEN</p>
								<p class="region-card-title">Fermanagh<br/>& Omagh</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-mournes" v-if="exclude != 'newry-mourne-down'">
						<a href="/regions/newry-mourne-down">
							<div class="region-info">
								<p class="region-card-top">MOURNE MOUNTAINS</p>
								<p class="region-card-title">Newry, Mourne<br/>& Down</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-derry" v-if="exclude != 'derry-strabane'">
						<a href="/regions/derry-strabane">
							<div class="region-info">
								<p class="region-card-top">DERRY'S WALLS</p>
								<p class="region-card-title">Derry City &<br/>Strabane</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-newtownabbey" v-if="exclude != 'antrim-newtownabbey'">
						<a href="/regions/antrim-newtownabbey">
							<div class="region-info">
								<p class="region-card-top">NATURE & CULTURE</p>
								<p class="region-card-title">Antrim &<br/>Newtownabbey</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-antrim" v-if="exclude != 'mid-east-antrim'">
						<a href="/regions/mid-east-antrim">
							<div class="region-info">
								<p class="region-card-top">GLENS OF ANTRIM</p>
								<p class="region-card-title">Mid & East<br/>Antrim</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-ards" v-if="exclude != 'ards-north-down'">
						<a href="/regions/ards-north-down">
							<div class="region-info">
								<p class="region-card-top">SCRABO TOWER</p>
								<p class="region-card-title">Ards &<br/>North Down</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-lisburn" v-if="exclude != 'lisburn-castlereagh'">
						<a href="/regions/lisburn-castlereagh">
							<div class="region-info">
								<p class="region-card-top">CASTLE GARDENS</p>
								<p class="region-card-title">Lisburn &<br/>Castlereagh</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-armagh" v-if="exclude != 'armagh-banbridge-craigavon'">
						<a href="/regions/armagh-banbridge-craigavon">
							<div class="region-info">
								<p class="region-card-top">CHRISTIAN HERITAGE</p>
								<p class="region-card-title">Armagh, Banbridge & Craigavon</p>
							</div>
						</a>
					</div>				
					<div class="region-card mb-4 cards-mid-ulster" v-if="exclude != 'mid-ulster'">
						<a href="/regions/mid-ulster">
							<div class="region-info">
								<p class="region-card-top">SEAMUS HEANEY 'HOMEPLACE'</p>
								<p class="region-card-title">Mid-Ulster</p>
							</div>
						</a>
					</div>
				</carousel>
			</div>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
		props:{
			exclude: String,
		},
	  components: { carousel },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods:{
			
		}
	}
</script>
<style lang="scss">
	.mob-regions{
		.owl-carousel{
			.owl-stage-outer{
				overflow: visible !important;
			}
		}
		.region-card{
			background-size: 110%;
			&:hover{
				background-size: 110%;
			}
		}
	}
</style>