<template>
	<div id="guide-images-carousel" class="container-fluid py-5" v-if="images != null">
		<div class="row">
			<div class="col-12">
				<carousel :items="4" :margin="30" :center="false"  :autoHeight="true" :loop="false" :autoplay="false"  :autoWidth="true" :nav="true" :dots="true">
					<div class="guide-image-card" v-for="(image, key) in images">
						<img :src="image.normal" class="h-100" :alt="'Guide image ' + key"/>
					</div>
				</carousel>
			</div>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
		props: {
			id: Number
		},
	  components: { carousel },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
				images: null,
			}
		},
		mounted(){
			this.getImages();
		},
		methods:{
			getImages(){
				axios.get('/get/guide-images/'+ this.id).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.images = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
			}
		}
	}
</script>
<style lang="scss">
#guide-images-carousel{
  position: relative;
  width: 100%;
	.guide-image-card {
  	position: relative;
	  width: auto;
	  height: 372px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: 110%;
	  border-radius: 20px;
	  overflow: hidden;
	  text-align: left;
	  cursor: pointer;
	  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
		-moz-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3) !important;
	  img{
	  	width: auto;
	  	height: 100%;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-stage{
		margin: auto;
	}
	.owl-theme{
		.owl-nav{
			margin-top: 1rem;
			margin-bottom: -35px;
			text-align: left;
			.owl-prev{
				margin-right: 295px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 40px;
				height: 40px;
				border: 2px solid #000;
				border-radius: 5px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('/img/icons/chevron-left-dark.svg');
					background-size: contain;
					background-position: center;
					width: 11px;
					margin-right: 13px;
					height: 36px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 40px;
				height: 40px;
				border: 2px solid #000;
				border-radius: 5px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('/img/icons/chevron-right-dark.svg');
					background-size: contain;
					background-position: center;
					width: 11px;
					margin-left: 13px;
					height: 36px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
		  margin: 0 62px;
		  width: 270px;
		  .owl-dot{
				span{
					width: 30px;
			    height: 4px;
			    background: #000;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#guide-images-carousel .owl-theme .owl-dots{
		width: 220px;
	}
	#guide-images-carousel .owl-theme .owl-nav .owl-prev{
		margin-right: 270px;
	}
}
@media only screen and (max-width : 767px){
	#guide-images-carousel{
		.guide-image-card{
    	width: calc(100vw - 2rem);
    	height: auto;
    	img{
    		width: 100%;
    		height: auto;
    	}
		}
		.owl-theme{
			.owl-nav{
				margin: 1rem -33px -30px auto;
				.owl-prev{
			  	margin-right: 252px;
			  }
			}
			.owl-dots{
		    margin: auto;
		    width: calc(100vw - 2rem);
				.owl-dot span{
					width: 24px;
					height: 6px;
					margin: 3px;
				}
			}
		}
	}
}
</style>