<template>
	<div class="card guide-card mb-4" :style="bgstyles">
    <a :href="'/guide/' + guide.id + '/' + guide.slug">
			<div class="guide-info">
<!-- 				<p class="guide-card-qualifications mb-0">{{guide.qualifications}}</p>
 -->		    <p class="guide-card-top">{{guide.name}}</p>
		    <p class="guide-card-experiences"><span v-for="(te, key) in guide.tour_experiences"><span v-if="key <=2">{{te.name}}<br v-if="key < guide.tour_experiences.length"/></span></span></p>
		    	<p class="guide-card-languages mb-0">Languages <img v-for="lang in guide.languages" :src="lang.image" :alt="lang.name" width="20" class="ml-1" /></p>
	    </div>
	  </a>
		<p></p>
	</div>
</template>
<script>
	export default {
		props:{
			guide: Object,
		},
	  watch:{
	    guide: function(val){ },
	  },
	  data() {
	    return {
	      bgImgNormal: this.guide.normal,
	      bgImgWebp: this.guide.webp, 
	    }
	  },
	  computed: {
	    bgstyles() {
	      return {
	        '--bg-img-normal': 'url("'+this.guide.normal+'")',
	        '--bg-img-webp': 'url("'+this.guide.webp+'")',
	      }
	    }
	  },
	}
</script>
<style lang="scss" scoped>
	.no-webp{
		.guide-card{
			background-image: var(--bg-img-normal);
		}
	}
	.webp{
		.guide-card{
			background-image: var(--bg-img-webp);
		}
	}
</style>