<template>
	<div class="mob-pt-0 mob-px-4 w-100" :class="{'mt-5 pt-5':(title > 0)}">
		<guides-filter @changeFields="changeFields" :region="fields.region" :showregion="showregion" :type="fields.type" :lang="fields.lang" :search="fields.search" :title="title"></guides-filter>
		<guides-show :guides="guides"></guides-show>
  	<div class="text-center" v-if="lm">
      <div v-if="loadmore" class="btn btn-primary mt-4" @click="moreGuides">Load More</div> 
    </div>
	</div>
</template>
<script>
	const GuidesFilter = () => import(/* webpackChunkName: "GuidesFilter" */ './GuidesFilter.vue');
	const GuidesShow = () => import(/* webpackChunkName: "GuidesShow" */ './GuidesShow.vue');
	export default {
		props:{
			region: String,
			type: String,
			lang: String,
			search: String,
			title: Number,
			limit: Number,
			showregion: Boolean,
			lm: Boolean,
		},
		components:{
			GuidesFilter,
			GuidesShow
		},
	  data() {
	    return {
		    fields:{
					region: this.$props.region,
		      type: this.$props.type,
		      search: this.$props.search,
		      lang: this.$props.lang,
	    	},
	      errors: {},
	      success: false,
	      loaded: true,
	      guides: [],
	      page: 1,
	      loadmore: true,
	    }
	  },
	  watch:{
	    region: function(val){
	      this.changeRegion(val);
	    },
	  },
		mounted(){
			this.getGuides();
		},
		methods:{
			changeFields(fields){
	      this.fields.region = fields.region;
	      this.fields.type = fields.type;
	      this.fields.lang = fields.lang;
	      this.fields.search = fields.search;
	      this.getGuides();
	    },
	    loadMore(){
	      this.page++;
	      this.moreGuides();
	    },
	    getGuides(page = this.page){
				if (this.loaded) {

	        this.loaded = false;
	        this.success = false;
	        this.errors = {};
	        this.offset = 0;
	        this.loadmore = true;
	        this.page = 1;
	        axios.get('/get/guides/?limit=' + this.limit + '&page=' + page + '&region=' + this.fields.region + '&type=' + this.fields.type + '&lang=' + this.fields.lang + '&search=' + this.fields.search).then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.guides = response.data.data;
	          if(response.data.last_page == response.data.current_page){
	            this.loadmore = false;
	          }
	          console.log(this.limit);
	        })
	        .catch(error => {
	          // Error handling
	          this.loaded = true;
	          console.log(error.response);
	        });
	      }
			},
	    moreGuides() {
	    	this.page++;
	      if (this.loaded) {

	        this.loaded = false;
	        this.success = false;
	        this.errors = {};
	        this.offset = 0;

	        axios.get('/get/guides/?limit=' + this.limit + '&page=' + this.page + '&region=' + this.fields.region + '&type=' + this.fields.type + '&lang=' + this.fields.lang + '&search=' + this.fields.search).then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          var app = this;
	          response.data.data.forEach(function(element){
	            app.guides.push(element);
	          });
	          if(response.data.last_page == response.data.current_page){
	            this.loadmore = false;
	          }
	          // console.log(this.guides);
	        })
	        .catch(error => {
	          // Error handling
	          this.loaded = true;
	          console.log(error.response);
	        });
	      }
	    }
		}
	}
</script>