<template>
	<div class="container">
		<div class="row">
			<div class="col-lg-3" v-for="guide in guides">
				<guide-card :guide="guide"></guide-card>
			</div>
			<div class="col-lg-8 text-center text-lg-left" v-if="guides.length == 0">
				<p class="text-large">Sorry, there were no guides available matching your search criteria. You can contact us if you need help finding the right guide for you!</p>
				<a href="/contact">
					<button class="btn btn-primary">Contact Us</button>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	const GuideCard = () => import(/* webpackChunkName: "GuideCard" */ './GuideCard.vue');
	export default {
		props:{
			guides: Array,
		},
		components:{
			GuideCard
		},
	  watch:{
	    guides: function(val){ 
	    	console.log('changed');
	    },
	  },
		methods:{

		}
	}
</script>
<style lang="scss">
	.guide-card {
  	position: relative;
	  width: 260px;
	  height: 372px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: auto 110%;
	  border-radius: 10px;
	  text-align: left;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
		-moz-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
		box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
	  -webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  a{
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	display: block;
	  }
	  .guide-info{
	  	position: absolute;
	  	bottom: 0;
	  	left: 0;
	  	width: 100%;
	  	padding: 7rem 1rem 1rem 1rem;
	  	background: rgb(17,18,19);
			background: linear-gradient(180deg, rgba(17,18,19,0) 0%, rgba(17,18,19,1) 100%);
	  	p{
	  		color: #fff;
	  		&.guide-card-top{
	  			font-family: ff-zwo-corr-web-pro, sans-serif;
          color: #fff;
          font-size: 1.1rem;
          line-height: 1.3;
          margin-bottom: 0.3rem;
          letter-spacing: 0;
	  		}
	  		&.guide-card-qualifications{
	  			font-family: ff-zwo-corr-web-pro, sans-serif;
          color: #fff;
          font-size: 0.8rem;
          line-height: 1.2;
          margin-bottom: 0.3rem;
          letter-spacing: 1px;
	  		}
	  		&.guide-card-experiences{
	  			font-family: ff-zwo-corr-web-pro, sans-serif;
          color: #fff;
			    font-size: 0.7rem;
			    line-height: 1.4;
			    margin-bottom: 0.3rem;
			    font-weight: 100;
			    letter-spacing: 1px;
			    text-transform: uppercase;
	  		}
	  		&.guide-card-title{
	  			font-family: ff-zwo-corr-web-pro, sans-serif;
          color: #fff;
          font-size: 1.2rem;
          line-height: 1.4;
          margin-bottom: 0;
	  		}
	  		&.guide-card-languages{
	  			font-family: ff-zwo-corr-web-pro, sans-serif;
          color: #fff;
          font-size: 0.6rem;
          line-height: 1.2;
          margin-bottom: 0.3rem;
          letter-spacing: 1px;
          text-transform: uppercase;
	  		}
	  	}
	  }
	}
	@media only screen and (max-width : 767px){
		.guide-card{
			width: 100%;
			height: calc(100vw - 4rem);
			background-size: cover !important;
			&:hover{
				background-size: cover !important;
			}
		}
	}
</style>