<template>
	<div class="container" v-if="tourtypes != null && languages != null && regions != null">
		<div class="row mb-5 mob-mb-4">
			<div class="col-12 text-center text-lg-left" v-if="title > 0">
				<p class="mimic-h2 mob-mb-0">Find The Right Guide For You</p> 
			</div>
			<div class="col-12 d-lg-none">
				<hr class="my-3" />
				<p class="mb-0 text-uppercase letter-spacing text-center text-lg-left">
				  <a class="text-blue" data-toggle="collapse" href="#guidesFilterCollapse" role="button" aria-expanded="false" aria-controls="guidesFilterCollapse">
				    <b>Filter Guides</b> <i class="fa fa-chevron-down collapsed"></i><i class="fa fa-chevron-up expanded"></i>
				  </a>
				</p>
				<div class="collapse" id="guidesFilterCollapse">
				  <div class="row mt-3">
				  	<div class="col-12 mb-2" v-if="showregion == true">
							<div class="select-holder">
								<select class="form-control" v-model="fields.region" @change="changeFields">
									<option value="*" v-model="fields.region">Select Region</option>
									<option v-for="r in regions" :value="r.slug">{{r.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-12 mb-2">
							<div class="select-holder">
								<select class="form-control" v-model="fields.type" @change="changeFields">
									<option value="*">Select Tour Type</option>
									<option v-for="tt in tourtypes" :value="tt.slug">{{tt.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-12">
							<div class="select-holder">
								<select class="form-control" v-model="fields.lang" @change="changeFields">
									<option value="*">Select Language</option>
									<option v-for="l in languages" :value="l.slug">{{l.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-12 mt-2">
							<input type="text" class="form-control" style="height: 60px;" placeholder="Search" v-model="fields.search" v-debounce:300ms="changeFields"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mb-2 d-none d-lg-block">
				<input type="text" class="form-control" placeholder="Search" v-model="fields.search" v-debounce:300ms="changeFields"/>
			</div>
			<div class="col-lg-4 mob-mb-2 d-none d-lg-block" v-if="showregion == true">
				<div class="select-holder">
					<select class="form-control" v-model="fields.region" @change="changeFields">
						<option value="*" v-model="fields.region">Select Region</option>
						<option v-for="r in regions" :value="r.slug">{{r.name}}</option>
					</select>
				</div>
			</div>
			<div class="col-lg-4 mob-mb-2 d-none d-lg-block">
				<div class="select-holder">
					<select class="form-control" v-model="fields.type" @change="changeFields">
						<option value="*">Select Tour Type</option>
						<option v-for="tt in tourtypes" :value="tt.slug">{{tt.name}}</option>
					</select>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="select-holder d-none d-lg-block">
					<select class="form-control" v-model="fields.lang" @change="changeFields">
						<option value="*">Select Language</option>
						<option v-for="l in languages" :value="l.slug">{{l.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
			region: String,
			type: String,
			lang: String,
			title: Number,
			search: String,
			showregion: Boolean,
		},
	  data() {
	    return {
	      fields: {
	      	region: this.$props.region,
		      type: this.$props.type,
		      lang: this.$props.lang,
		      search: this.$props.search,
	      },
	      errors: {},
	      success: false,
	      regions: null,
	      tourtypes: null,
	      languages: null,
	      loaded: true,
	      guides: [],
	      limit: 6,
	      page: 1,
	      loadmore: true,
	    }
	  },
	  mounted(){
	  	this.getFilterOptions();
	  },
	  watch:{
	    region: function(val){ },
	    type: function(val){ },
	    lang: function(val){ },
	    search: function(val){ },
	  },
		methods:{
			getFilterOptions(){
				axios.get('/get/filter-options').then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.regions = response.data[0];
          this.languages = response.data[1];
          this.tourtypes = response.data[2];
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
			},
			changeFields(){
	      this.$emit('changeFields', {'region':this.fields.region, 'type':this.fields.type, 'lang':this.fields.lang, 'search':this.fields.search});
	    }
		}
	}
</script>