<template>
  <footer class="container-fluid text-center text-lg-left position-relative z-1 ">
    <img src="/img/graphics/hexagons-flat.svg" class="footer-bg" alt="TGNI hexagons footer"/>

    <div class="position-relative row mob-mt-0 mob-pt-3 ipadp-pt-0 ipadp-mt-0">
      <div class="container pb-5">
        <div class="row">
          <div class="col-12">
            <mailing-list></mailing-list>
          </div>
        </div>
        <div class="row mt-5 pt-5 ipadp-pt-0  mob-py-0 mob-mt-0">
          <div class="col-lg-4 pr-5 mob-px-5 mob-mt-4">
            <img src="/img/logos/logo.png" class="footer-logo mt-2" width="260" height="51" alt="Tour Guides NI Logo"/>
            <div class="line d-lg-none my-4"><span></span></div>
          </div>
          <div class="col-lg-2 d-none d-lg-block">
            <p><a href="/">Home</a></p>
            <p><a href="/regions">Regions</a></p>
            <p><a href="/about">About TGNI</a></p>
          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <p><a href="/join">Join Us</a></p>
            <p><a href="/contact">Contact</a></p>
            <p><a href="/tour-guide-login">Tour Guide Login</a></p>
          </div>
          <div class="col-lg-3">
            <p><a href="mailto:info@tourguidesni.com"><i class="fa fa-envelope-o mr-1"></i> info@tourguidesni.com</a></p>
            <p><a href="tel:00447704575932"><i class="fa fa-phone mr-1"></i> +44 (0) 7704 575 932</a></p>
            <p>
              <a href="https://www.facebook.com/tourguidesni" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/tourguidesni" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
              <a href="https://twitter.com/Tour_GuidesNI" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3"></i></a>
              <a href="https://www.youtube.com/channel/UCJtGgzYNzos83KFP1CPHGcw" target="_blank" aria-label="Youtube" rel="noreferrer"><i class="fa fa-youtube-play ml-3"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center position-relative z-2">
      <div class="container py-2">
        <hr/>
        <div class="row mb-2">
          <div class="col-lg-4 text-center text-lg-left">
            <p class="text-smallest mb-0 mob-mb-2 mob-mt-2"><a href="/privacy-policy">Privacy Policy</a></p>
          </div>
          <div class="col-lg-8 text-center text-lg-right">
            <p class="text-smallest mb-0">&copy;2021 Tour Gudies NI, All Rights Reserved<span class="d-none d-md-inline"> &nbsp;|&nbsp; </span><br class="d-md-none"/><a href="https://elementseven.co" target="_blank" aria-label="Element Seven Digital Limited" rel="noreferrer">Website by Element Seven</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
  footer{
    color: #000000;
    .bg-darker{
      background-color: #1D252D;
    }
    .footer-bg{
      position: absolute !important;
      bottom: 0;
      left: calc(50% - 800px);
      z-index: 0;
      width: 1600px;
      opacity: 0.13;
    }
    a{
      cursor: pointer;
      color: #000000;
      &:hover{
        color: #265CC0;
      }
    }
    p{
      font-size: 1.0rem;
    }
    .footer-social{
      font-size: 25px;
    }
    .footer-logo{
      width:100%;
      max-width: 260px;
    }
  }
  .footer-inner{
    border-top: 2px solid #fff;
  }
  .footer-top{
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    .footer-overlap{
      margin-top: -540px;
      &.team-overlap{
        margin-top: -420px;
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{
      p{
        &.text-smallest{
          font-size: 16px;
        }
      }
      .mob-line-height{
        font-size: 16px;
        line-height: 2.5;
      }
      .footer-bg{
        left: calc(50% - 410px);
        bottom: 0;
        width: 850px;
      }
    }
  }
  @media only screen and (max-width : 767px){
    footer{
      p{
        &.text-smallest{
          font-size: 3vw;
        }
      }
      .mob-line-height{
        font-size: 3.5vw;
        line-height: 2.5;
      }
      .footer-bg{
        left: calc(50% - 410px);
        bottom: 0;
        width: 850px;
      }
    }
  }
</style>