<template>
  <div id="loader">
    <div class="vert-mid">
    	<img id="loader-success" src="/img/icons/success.svg" class="d-none mx-auto" width="80" alt="Success icon"/>
        <div id="loader-roller" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div id="loader-message" class="text-white"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                  <p id="loader-second-text" class="mt-3 d-none cursor-pointer text-white"><a id="loader-second-link"></a></p>
                </div>
                <div class="col-lg-4">
                  <a id="loader-link">
                    <div id="loader-btn" class="btn btn-primary mx-auto d-none mt-3"></div>
                  </a>
                  <div id="close-loader-btn" class="btn btn-primary mx-auto d-none mt-3">Close</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
  export default {
    mounted(){
      $('#close-loader-btn').click(function(){
        $('#loader').removeClass('on');
        $('#loader-message').html('');
        $('#close-loader-btn').removeClass('d-block').addClass('d-none');
        $('#loader-roller').removeClass('d-none').addClass('d-block');
        $('#loader-success').removeClass('d-block').addClass('d-none');
      });
      $('#close-loader-btn').click(function(){
        document.getElementById("loader").classList.remove("on");
      });
    }
  }
</script>