<template>
  <div id="scroll-indicator">
    <img src="/img/graphics/hexagons-small.svg" alt="hexagons scroll indicator" width="25" height="47" class="hexagons-scroll" />
    <span class="scroll-line"></span>
    <span class="scroll-text">SCROLL</span>
  </div>
</template>
<script>
</script>
<style lang="scss">
#scroll-indicator{
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: 25px;
	height: 157px;
	.hexagons-scroll{
		width: 25px;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
	}
	.scroll-line{
		position: absolute;
		display: block;
		width: 2px;
		background-color: white;
		height: 50px;
		top: 57px;
		left: 7px;
		animation: animate-height-scroll-indicator 2s ease-in-out infinite;
	}
	.scroll-text{
		transform: rotate(-90deg);
		font-size: 12px;
		color: white;
		position: absolute;
    top: 130px;
    left: -13px;
	}
}
@keyframes animate-height-scroll-indicator {
  0% {
    max-height: 0px;
  }
  50%{
  	max-height: 57px;
  }
  100% {
    max-height: 57px;
  }
}
@media only screen and (max-width : 767px){
	#scroll-indicator{
		bottom: 1rem;
		right: 0.5rem;
	}
}
</style>