<template>
  <header id="home-header" class="container-fluid position-relative full-height home-top bg bg-down-up z-1">
    <div id="home-slider">
      <div id="slides">
        <div class="slide">
          <span class="animate in regions-causeway"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4"> 
                    <p class="region-top text-uppercase">GIANTS CAUSEWAY</p>
                    <p class="region-title">Causeway Coast <br class="d-none d-md-inline"/>& Glens</p>
                    <p>Come, explore and visit the gateway to the 8th Wonder of the World, The Giants Causeway.  Home to magical places such as the world's oldest whiskey distillery.</p>
                    <a href="/regions/causeway-coast-glens">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Causeway Coast & Glens</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-belfast"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">TITANIC BELFAST</p>
                    <p class="region-title">BELFAST <br class="d-none d-md-inline"/>CITY</p>
                    <p>Officially the best ‘wee’ city in the world.  No trip to our shores is worthwhile, without interacting and engaging with the people of Belfast and their stories.</p>
                    <a href="/regions/belfast">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Belfast</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-fermanagh" data-bg=""></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">STAIRWAY TO HEAVEN</p>
                    <p class="region-title">Fermanagh <br/>& Omagh</p>
                    <p>This hidden gem of Northern Ireland is a labyrinth of natural beauty and wonder.  Fermanagh and Omagh never disappoint.</p>
                    <a href="/regions/fermanagh-omagh">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Fermanagh & Omagh</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-mournes"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">MOURNE MOUNTAINS</p>
                    <p class="region-title">Newry, Mourne <br/>& Down</p>
                    <p>St. Patrick's story, areas of natural beauty, world class food, drink and hospitality.  This region has it all, plus more.</p>
                    <a href="/regions/newry-mourne-down">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Newry, Mourne & Down</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-derry"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">DERRY’S WALLS</p>
                    <p class="region-title">Derry City <br/>& Strabane</p>
                    <p>A LegenDerry welcome like no other.  Come visit the Maiden city and its surrounding area. Experience for yourself what makes its history, people and culture so special.</p>
                    <a href="/regions/derry-strabane">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Derry City & Strabane</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-newtownabbey"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">COASTAL EXPERIENCE</p>
                    <p class="region-title">Antrim & <br/>Newtownabbey</p>
                    <p>Historic Antrim and surrounding area is a region steeped with local lore, mythology, battles and tales of rebellion. Book a guided tour and see for yourself.</p>
                    <a href="/regions/antrim-newtownabbey">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Antrim & Newtownabbey</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-antrim"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">GLENS OF ANTRIM</p>
                    <p class="region-title">Mid & <br/>East Antrim</p>
                    <p>The starting point to the world- famous Antrim Coastal Road, let our guides join you on new and enchanting adventures.</p>
                    <a href="/regions/mid-east-antrim">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Mid & East Antrim</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-ards"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">SCRABO TOWER</p>
                    <p class="region-title">Ards & <br/>North Down</p>
                    <p>The picturesque hills of Ards mixed with award winning beaches of North Down, makes this region an ideal setting for wandering and wondering in the wild.</p>
                    <a href="/regions/ards-north-down">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Ards & North Down</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-lisburn"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">IRISH LINEN CENTRE</p>
                    <p class="region-title">Lisburn & <br/>Castlereagh</p>
                    <p>Home to the historic Hillsborough Castle and many beautiful nature spots, this region is perfect for families, foodies and relaxing holidays.</p>
                    <a href="/regions/lisburn-castlereagh">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Lisburn & Castlereagh</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-armagh"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">CHRISTIAN HERITAGE</p>
                    <p class="region-title">Armagh, Banbridge & Craigavon</p>
                    <p>Hear and learn about the rich Christian heritage of this region, just one of the many facets on offer to make your visit a memorable one.</p>
                    <a href="/regions/armagh-banbridge-craigavon">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Armagh, Banbridge & Craigavon</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in regions-mid-ulster"></span>
          <div class="static-content">
            <div class="text-white slide-info">
              <div class="container container-wide px-5 mob-px-3 full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle text-center text-lg-left mob-px-4">
                    <p class="region-top text-uppercase">SEAMUS HEANEY 'HOMEPLACE'</p>
                    <p class="region-title">Mid-Ulster</p>
                    <p>At the heart of Ulster, Mid-Ulster is home to our traditions, tales and some of the best tour offerings in the land.</p>
                    <a href="/regions/mid-ulster">
                      <button class="btn btn-primary d-lg-none" type="button">Discover Region</button>
                      <button class="btn btn-primary d-none d-lg-block" type="button">Discover Mid & East Antrim</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <home-region-cards></home-region-cards>
  </header>
</template>
<script>
  require('../../plugins/jquery.subtle-slideshow.js');
  export default {
    data() {
      return {
        slideNumber: 0,
        interval: 7000,
        slides: 11,
      }
    },
    mounted(){
      var app = this;
      window.setInterval(function(){
        if(app.slides > app.slideNumber){
          app.slideNumber++;
        }else{
          app.slideNumber = 0;
        }
      },app.interval);
      // These are te default settings.
      $('#slides').slideshow({
        randomize: false,      // Randomize the play order of the slides.
        slideDuration: 7000,  // Duration of each induvidual slide.
        fadeDuration: 500,    // Duration of the fading transition. Should be shorter than slideDuration.
        animate: true,        // Turn css animations on or off.
        pauseOnTabBlur: false, // Pause the slideshow when the tab is out of focus. This prevents glitches with setTimeout().
        enableLog: false      // Enable log messages to the console. Useful for debugging.
      });
    }
  }
</script>
<style lang="scss" scoped>

$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox


@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

#home-header{
  min-height: 850px;
  height: 100vh;
  .full-height{
    min-height: 850px;
    height: 100vh;
  }
}
#home-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  #slides {
      position: absolute;
      width: 1px;
      height: 1px;
      left: -9999px;
    }

    #slideshow {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .static-content{
        background-color: rgba(17,18,19,0.3);
      }
      .slide, span, .static-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .slide-info{
          position: absolute;
          width: 100%;
          height: 100%;
          max-width: 40vw;
          p{
            &.region-top{
              font-family: ff-zwo-corr-web-pro, sans-serif;
              color: #fff;
              font-size: 1.2rem;
              line-height: 1;
              margin-bottom: 0.3rem;
              letter-spacing: 0.2rem;
            }
            &.region-title{
              font-family: ff-zwo-corr-web-pro, sans-serif;
              color: #fff;
              line-height: 1;
              font-size: 4rem;
              margin-bottom: 0.3rem;
            }
          }
        }
      }

      .slide {

        span {
          background-size: cover;
          background-position: center;
        }

        span.animate.right, span.animate.left {
          left: $slide-distance-negative;
          right: $slide-distance-negative;
        }

        span.animate.up, span.animate.down {
          top: $slide-distance-negative;
          bottom: $slide-distance-negative;
        }

      }

      // Time gets set by JS

      span.animate {
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
      }

      span.animate.right {
        -webkit-animation-name: right;
                animation-name: right;
      }

      span.animate.left {
        -webkit-animation-name: left;
                animation-name: left;
      }

      span.animate.up {
        -webkit-animation-name: up;
                animation-name: up;
      }

      span.animate.down {
        -webkit-animation-name: down;
                animation-name: down;
      }

      span.animate.in {
        -webkit-animation-name: in;
                animation-name: in;
      }

      span.animate.out {
        -webkit-animation-name: out;
                animation-name: out;
      }

      span.animate.paused {
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
      }

    }
}
#home-slider-info{
  position: absolute;
  top: 0;
  left: calc(50% - 750px - 6rem);
  width: 8px;
  height: 100%;
  z-index: 2;
  .slide-indicators{
    position: absolute;
    top: calc(50% - 150px);
    left: 5rem;
    width: 100%;
    margin: auto;
    .slide-indicator{
      height: 30px;
      width: 8px;
      background-color: #fff;
      margin-bottom: 7px;
      display: block;
      &.active{
        background-color: #F6CF3C;
      }
    }
  }
}
// Desktop
@media only screen and (min-width : 1240px){
  #home-slider-info{
    left: calc(50% - 600px - 6rem);
  }
}
// Desktop
@media only screen and (min-width : 1340px){
  #home-slider-info{
    left: calc(50% - 650px - 6rem);
  }
}
// Desktop
@media only screen and (min-width : 1440px){
  #home-slider-info{
    left: calc(50% - 700px - 6rem);
  }
}

// Desktop
@media only screen and (min-width : 1500px){
  #home-slider-info{
    left: calc(50% - 700px - 6rem);
  }
}

// Desktop
@media only screen and (min-width : 1540px){
  #home-slider-info{
    left: calc(50% - 750px - 6rem);
  }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  #home-header{
    min-height: 750px;
    .full-height{
      min-height: 750px;
    }
  }
  #home-slider{
    #slideshow {
      .slide, span, .static-content {
        .slide-info{
          p{
            &.region-top{
              font-size: 1.2rem;
            }
            &.region-title{
              font-size: 4rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px){
  #home-header{
    min-height: 700px;
    height: 700px;
    .full-height{
      min-height: 700px;
      height: 700px;
    }
    .container-wide{
      width: 100%;
    }
  }
  #home-slider #slideshow .static-content{
    .slide-info{
      max-width: 100%;
      width: 100%;
      height: 500px;
      .full-height{
        height: 500px;
        min-height: 500px;
      }
      p{
        &.region-top{
          font-size: 3vw;
        }
        &.region-title{
          font-size: 9vw;
        }
      }
    }
  }
}
@media only screen and (max-width : 320px){
  #home-header{
    min-height: 600px;
    height: 600px;
    .full-height{
      min-height: 600px;
      height: 600px;
    }
  }
  #home-slider #slideshow .static-content{
    .slide-info{
      max-width: 100%;
      width: 100%;
      height: 400px;
      .full-height{
        height: 400px;
        min-height: 400px;
      }
    }
  }
}
</style>