<template>
	<div id="home-region-cards" class="container-fluid pb-5">
		<div class="row">
			<div class="col-12">
				<carousel :items="4" :margin="15" :center="false"  :autoHeight="true" :loop="true" :autoplay="true" :autoplayTimeout="7000" :autoplaySpeed="500" :autoWidth="true" :nav="true" :dots="true">
					<div class="home-region-card cards-causeway">
						<a href="/regions/causeway-coast-glens">
							<div class="region-info">
						    <p class="region-card-top">GIANTS CAUSEWAY</p>
						    <p class="region-card-title">Causeway Coast<br/>& Glens</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-belfast">
						<a href="/regions/belfast-city">
							<div class="region-info">
					      <p class="region-card-top">TITANIC BELFAST</p>
					      <p class="region-card-title">Belfast<br/>City</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-fermanagh">
						<a href="/regions/fermanagh-omagh">
							<div class="region-info">
						    <p class="region-card-top">STAIRWAY TO HEAVEN</p>
						    <p class="region-card-title">Fermanagh<br/>& Omagh</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-mournes">
						<a href="/regions/newry-mourne-down">
							<div class="region-info">
						    <p class="region-card-top">MOURNE MOUNTAINS</p>
						    <p class="region-card-title">Newry, Mourne<br/>& Down</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-derry">
						<a href="/regions/derry-strabane">
							<div class="region-info">
						    <p class="region-card-top">DERRY'S WALLS</p>
						    <p class="region-card-title">Derry City &<br/>Strabane</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-newtownabbey">
						<a href="/regions/antrim-newtownabbey">
							<div class="region-info">
						    <p class="region-card-top">NATURE & CULTURE</p>
						    <p class="region-card-title">Antrim &<br/>Newtownabbey</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-antrim">
						<a href="/regions/mid-east-antrim">
							<div class="region-info">
						    <p class="region-card-top">GLENS OF ANTRIM</p>
						    <p class="region-card-title">Mid & East<br/>Antrim</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-ards">
						<a href="/regions/ards-north-down">
							<div class="region-info">
						    <p class="region-card-top">SCRABO TOWER</p>
						    <p class="region-card-title">Ards &<br/>North Down</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-lisburn">
						<a href="/regions/lisburn-castlereagh">
							<div class="region-info">
						    <p class="region-card-top">CASTLE GARDENS</p>
						    <p class="region-card-title">Lisburn &<br/>Castlereagh</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-armagh">
						<a href="/regions/armagh-banbridge-craigavon">
							<div class="region-info">
						    <p class="region-card-top">CHRISTIAN HERITAGE</p>
						    <p class="region-card-title">Armagh, Banbridge & Craigavon</p>
					    </div>
					  </a>
					</div>
					<div class="home-region-card cards-mid-ulster">
						<a href="/regions/mid-ulster">
							<div class="region-info">
						    <p class="region-card-top">SEAMUS HEANEY 'HOMEPLACE'</p>
						    <p class="region-card-title">Mid-Ulster</p>
					    </div>
					  </a>
					</div>
				</carousel>
			</div>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
	  components: { carousel },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods:{
			
		}
	}
</script>
<style lang="scss">
#home-region-cards{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  padding-top: 2rem;
  padding-left: 0;
  overflow: hidden;
	.home-region-card {
  	position: relative;
	  width: 260px;
	  height: 372px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: 110%;
	  border-radius: 10px;
	  text-align: left;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  -webkit-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
		-moz-box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
		box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1) !important;
	  -webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  a{
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	display: block;
	  }
	  .region-info{
	  	position: absolute;
	  	bottom: 0;
	  	left: 0;
	  	width: 100%;
	  	padding: 7rem 1rem 1rem 1rem;
	  	background: rgb(17,18,19);
			background: linear-gradient(180deg, rgba(17,18,19,0) 0%, rgba(17,18,19,1) 100%);
	  	p{
	  		color: #fff;
	  		&.region-card-top{
	  			font-family: ff-zwo-corr-web-pro, sans-serif;
          color: #fff;
          font-size: 0.8rem;
          line-height: 1;
          margin-bottom: 0.3rem;
          letter-spacing: 0.2rem;
	  		}
	  		&.region-card-title{
	  			font-family: ff-zwo-corr-web-pro, sans-serif;
          color: #fff;
          font-size: 1.2rem;
          line-height: 1.1;
          margin-bottom: 0;
	  		}
	  	}
	  }
	  &:hover{
	  	background-size: 115%;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-stage{
		margin: auto;
	}
	.owl-theme{
		.owl-nav{
			margin-top: 1rem;
			margin-bottom: -35px;
			text-align: left;
			.owl-prev{
				margin-right: 520px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 40px;
				height: 40px;
				border: 2px solid #fff;
				border-radius: 5px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('/img/icons/chevron-left.svg');
					background-size: contain;
					background-position: center;
					width: 11px;
					margin-right: 13px;
					height: 36px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 40px;
				height: 40px;
				border: 2px solid #fff;
				border-radius: 5px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('/img/icons/chevron-right.svg');
					background-size: contain;
					background-position: center;
					width: 11px;
					margin-left: 13px;
					height: 36px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
		  margin: 0 62px;
		  width: 490px;
		  .owl-dot{
				span{
					width: 30px;
			    height: 4px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#home-region-cards .owl-theme .owl-dots{
		width: 220px;
	}
	#home-region-cards .owl-theme .owl-nav .owl-prev{
		margin-right: 270px;
	}
}

@media only screen 
and (max-width : 767px){
	#home-region-cards{
		width: 85%;
		.owl-theme .owl-nav,
	  .owl-theme .owl-dots{
	    display: none !important;
	  }
		.home-region-card {
			padding-left: 1rem;
    	padding-right: 1rem;
    	width: 260px;
    	height: 200px;
		  .region-info{
		  	p{
		  		&.region-card-top{
	          font-size: 3vw;
		  		}
		  		&.region-card-title{
	          font-size: 5vw;
		  		}
		  	}
		  }
		}
	}
}
</style>