<template>
	<div class="mobile-menu-holder d-lg-none">
		<div id="menu_btn" class="menu_btn d-lg-none"><div class="nav-icon"><span></span><span></span><span></span></div></div>
		<div id="mobile-menu" class="mobile-menu">
		  <div class="container-fluid px-3">
		   	<div class="row">
			    <div class="col-12 pt-3">
			    	<a href="/">
              <img src="/img/logos/logo.png" class="menu_logo mt-2" alt="TGNI Logo" width="175" />
				    </a>
			      <div class="menu-links d-block pt-5">
			      	<p class="mb-0"><a href="/" class="menu-item">Home</a></p>
			        <p class="mb-0"><a href="/logout" class="menu-item">Logout</a></p>
			        <p class="mb-0"><a href="/contact" class="menu-item">Contact</a></p>
			        <div class="line d-lg-none my-4"><span class="ml-0"></span></div>
			        <p class="mb-2"><a href="/login" class="text-white"><span class="text-dark">Members Login</span></a></p>
			        <p class="mb-2"><a href="tel:07704575932" class="text-white"><span class="text-dark">+44 (0) 7704 575 932</span></a></p>
			        <p class="mb-4"><a href="mailto:info@tourguidesni.com" class="text-white"><span class="text-dark">info@tourguidesni.com</span></a></p>
			        <p class="mb-0 text-large">
			          <a href="https://www.facebook.com/tourguidesni" class="text-dark" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook"></i></a>
			          <a href="https://www.instagram.com/tourguidesni" class="text-dark" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
			          <a href="https://twitter.com/Tour_GuidesNI" class="text-dark" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3"></i></a>
			          <a href="https://www.youtube.com/channel/UCJtGgzYNzos83KFP1CPHGcw" class="text-dark" target="_blank" aria-label="Youtube" rel="noreferrer"><i class="fa fa-youtube-play ml-3"></i></a>
			        </p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
      pagetype: String
    },
		mounted(){

			$('#menu_btn').click(function(){
				$("#menu_btn .nav-icon").toggleClass('nav_open');
				$("#mobile-menu").toggleClass("on");
				$("#menu").toggleClass("on");
				$("#menu_body_hide").toggleClass("on");
				$("#content").toggleClass("opacity");
				$(".menu").each(function(){
					$(this).toggleClass("opacity");
				});
			});

			$(document).ready(function(){
				$('#menu-trigger').each(function(index, element){
			    var inview = new Waypoint({
			      element: element,
			      handler: function (direction) {
			        if(direction === "down"){
			          $('#menu_btn').addClass('dark');
			        }else{
			          $('#menu_btn').removeClass('dark');
			        }
			      },offset: '0%'
			    });
			  });
				
			});

		}
	}
</script>
<style lang="scss">
	.close-menu{
		cursor: pointer;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		max-width: 20px;
		&:hover{
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
		}
	}

	#menu_body_hide{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #0269DD;
		display: table;
		opacity: 0;
		z-index: -1;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		&.on{
			opacity: 0.95;
			z-index: 220;
		}
	}
	.mobile-menu-holder{
		position: fixed;
		top: 0;
		right: -150vw;
		z-index: 10000;
	}
	.mobile-menu{
		position: fixed;
		top: 0;
		right: -150vw;
		width: 320px;
		height: 100vh;
		background-color: #fff;
		color: #1D252D;
		padding-left: 1rem;
		z-index: 1000;
		-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		.menu-links{
			.menu-item{
				display: block;
				cursor: pointer;
				color: #1D252D;
				font-weight: 400;
				font-size: 20px;
				margin-bottom: 0.75rem !important;
				display: inline-block;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
				a{
					color: #1D252D;
					&:hover{
						color: #F6CF3C;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
			}
		}

		&.on{
			right: 0;
		}
	}
	#menu_btn,
	.menu_btn{
		position: fixed;
	  top: 1.5rem;
	  right: 1rem;
		z-index: 1100;
		cursor: pointer;
		display: inline-block;
	  width: 30px;
	  height: 30px;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		.nav-icon {
			width: 30px;
			height: 30px;
			position: relative;
			z-index: 110;
			cursor: pointer;
			-webkit-transition: all 300ms ease;
		  -moz-transition: all 300ms ease ;
		  -o-transition: all 300ms ease;
		  transition: all 300ms ease;
			span {
				display: block;
				position: absolute;
				border-radius: 1px;
				height: 4px;
				width: 100%;
				background: #fff;
				opacity: 1;
				right: 0;
				cursor: pointer;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			}
			span:nth-child(1) {
				top: 0px;
			}
			span:nth-child(2) {
				top: 9px; 
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			}
			span:nth-child(3) {
				top: 18px; 
				width: 60%;
			}
			&.nav_open{
				span {
					border-radius: 10px;
					background: #1D252D;
				}
				span:nth-child(1) {
					top: 9px !important;
					-webkit-transform: rotate(135deg) !important;
					-moz-transform: rotate(135deg) !important;
					-o-transform: rotate(135deg) !important;
					transform: rotate(135deg) !important; 
				}
				span:nth-child(2) {
					opacity: 0 !important;
					left: 20vw !important; 
				}
				span:nth-child(3) {
					width: 100%;
					top: 9px !important;
					-webkit-transform: rotate(-135deg) !important;
					-moz-transform: rotate(-135deg) !important;
					-o-transform: rotate(-135deg) !important;
					transform: rotate(-135deg) !important; 
				}
			}
		}
		&:hover{
			.nav-icon{
				span:nth-child(3) {
					width: 100%;
				}
			}
		}
		&.on{
			background-color: #e83e8c;
		}
		&.dark{
			.nav-icon {
				span {
					background: #265CC0;
				}
			}
		}
	}
	.page-home{
		#menu_btn,
		.menu_btn{
			top:calc(1rem + 14px);
		}
	}
	.light{
		#menu_btn,
		.menu_btn{
			span {
				background-color: #265CC0;
			}
		}
	}
	@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .mobile-menu .menu-dropdown-holder .menu-dropdown a{
    	font-size: 1.1rem;
    }
  }
	@media only screen and (max-width : 767px){
		.mobile-menu .menu-links .menu-item{
			font-size: 4.5vw;
		}
	}
	@media only screen and (max-width : 320px){
		#mobile-menu{
			width: 300px;
		}
	}
</style>