<template>
	<div>
		<div id="main-menu" class="menu">
      <div class="container-fluid bg-blue px-5 py-1 d-none d-lg-block">
        <div class="row">
          <div class="col-lg-6">
            <p class="mb-0 text-small">
              <a href="https://www.facebook.com/tourguidesni" target="_blank" class="text-white" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/tourguidesni" target="_blank" class="text-white" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
              <a href="https://twitter.com/Tour_GuidesNI" target="_blank" class="text-white" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3"></i></a>
              <a href="https://www.youtube.com/channel/UCJtGgzYNzos83KFP1CPHGcw" target="_blank" class="text-white" aria-label="Youtube" rel="noreferrer"><i class="fa fa-youtube-play ml-3"></i></a>
            </p>
          </div>
          <div class="col-lg-6 text-right">
            <p class="letter-spacing text-small mb-0">
              <a href="mailto:info@tourguidesni.com" class="smaller cursor-pointer text-white mr-4"><i class="fa fa-envelope-o mr-1"></i>info@tourguidesni.com</a>
              <a href="tel:00447704575932" class="smaller cursor-pointer text-white"><i class="fa fa-phone mr-1"></i> +44 (0) 7704 575 932</a>
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid px-5 mob-px-3 ipadp-px-3">
        <div class="row">
          <div class="col-lg-2 pt-2 pb-3 page-home-pt-0">
            <a href="/">
              <img src="/img/logos/logo-white.png" class="menu_logo mt-2" alt="TGNI Logo" width="98" v-if="pagetype == 'dark'" />
              <img src="/img/logos/logo.png" class="menu_logo mt-2" alt="TGNI Logo" width="98" v-else />
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block mt-4">
            <div class="menu-links d-inline-block">
              <a href="/home" class="menu-item cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Home</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Contact</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/logout" class="menu-item  cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div id="scroll-menu" class="menu d-none d-lg-block">
      <div class="container-fluid bg-blue px-5 py-1">
        <div class="row">
          <div class="col-lg-6">
            <p class="mb-0 text-small">
              <a href="https://www.facebook.com/tourguidesni" target="_blank" class="text-white" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/tourguidesni" target="_blank" class="text-white" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
              <a href="https://twitter.com/Tour_GuidesNI" target="_blank" class="text-white" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3"></i></a>
              <a href="https://www.youtube.com/channel/UCJtGgzYNzos83KFP1CPHGcw" target="_blank" class="text-white" aria-label="Youtube" rel="noreferrer"><i class="fa fa-youtube-play ml-3"></i></a>
            </p>
          </div>
          <div class="col-lg-6 text-right">
            <p class="letter-spacing text-small mb-0">
              <a href="mailto:info@tourguidesni.com" class="smaller cursor-pointer text-white mr-4"><i class="fa fa-envelope-o mr-1"></i>info@tourguidesni.com</a>
              <a href="tel:00447704575932" class="smaller cursor-pointer text-white"><i class="fa fa-phone mr-1"></i> +44 (0) 7704 575 932</a>
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid px-5">
        <div class="row">
          <div class="col-lg-2 py-3">
            <a href="/">
              <img src="/img/logos/logo.png" class="menu_logo" alt="TGNI Logo"/>
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block mt-4 pb-3">
            <div class="menu-links d-inline-block">
              <a href="/home" class="menu-item cursor-pointer">About</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/logout" class="menu-item  cursor-pointer">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      pagetype: String
    },
    mounted(){
      $(document).ready(function(){
        $('#menu-trigger').each(function(index, element){
              var inview = new Waypoint({
                element: element,
                handler: function (direction) {
                  if(direction === "down"){
                    $('#scroll-menu').addClass('on');
                  }else{
                    $('#scroll-menu').removeClass('on');
                  }
                },offset: '0%'
              });
            });
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
        $(".scroll-btn").click(function(){
          $('html,body').animate({
             scrollTop: $(".scrollTo").offset().top
          });
        });
      });
    }
  }
</script>
<style lang="scss">
$primary: #F6CF3C; 
$darkgrey: #1D252D;
$white: #fff;
$title: ff-zwo-corr-web-pro, sans-serif;
$body: roboto, sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
}
.menu-holder{
  position: relative;
  z-index: 100;
}
#menu-trigger{
  position: absolute;
  top: 110vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#main-menu{
  position: absolute;
  top: 0;
  left: 0;
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .menu_logo{
    width: 220px;
    &.menu_logo_normal{
      width: 220px;
    }
  }
  .menu-links{
    .menu-item{
      display: inline-block;
      margin-left: 2.5rem;
      cursor: pointer;
      color: $white;
      font-family: $body;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1rem;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      a{
        color: $primary;
        &:hover{
          color: $primary;
        }
      }
      i{
        font-size: 1.2rem;
        margin-left: 10px;
      }
      &:hover,
      &.active{
        color: $primary !important;
      }
    }
  }
  .menu-top-links{
    .menu-links{
      .menu-item{
        font-size: 0.8rem;
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
#scroll-menu{
  background-color: $white;
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 200;
  width: 100%;
  @include menuBoxShadow();
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  .menu-links{
    .menu-item{
      color: $darkgrey;
    }
  }
  &.on{
    top: 0;
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 1.5rem;
    font-size: 0.8rem;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
    .menu_logo {
      width: 140px;
      margin-top: 15px !important;
    }
  }
  #menu_btn{
    display: block;
  }
}
</style>